<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

  <div class="w3-container">
    <h2>Address List</h2>
    <br>
    <ul class="w3-ul w3-card-4">
      <li style="background-color: lightgray" class="w3-bar">
        <span onclick="this.parentElement.style.display='none'"
          class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
        <div class="w3-bar-item">
          <div *ngFor="let name of nameArray0; let myIndex = index">
            <span class="w3-large">{{name}}</span><br>
          </div>
          <div *ngFor="let email of emailArray1; let myIndex = index">
            <span class="w3-large">{{email}}</span><br>
          </div>
          <div *ngFor="let address of addressArray2; let myIndex = index">
            <span class="w3-large">{{address}}</span><br>
          </div>
          <div *ngFor="let city of cityArray3; let myIndex = index">
            <span class="w3-large">{{city}}</span><br>
          </div>
          <div *ngFor="let state of stateArray4; let myIndex = index">
            <span class="w3-large">{{state}}</span><br>
          </div>
        </div>
      </li>
    </ul>
  </div>

</body>

</html>